<!DOCTYPE html>
<html>
    {% include 'globals/header.twig' %}
    <body>

        <div id="content">{% block content %}{% endblock %}</div>

        {% include 'globals/footer.twig' %}
   </body>
</html>
